@import url(app.css);

.contact-container {
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--white);
  gap: 2rem;
  width: 700px;
  /* width: 40%; */
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-btn {
  border-radius: 50px;
  background-color: var(--font-color-green);
  width: 100%;
}

.form-input{
  border-radius: 8px;
  background-color: var(--light-blue);
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-default-default);
}

.apply-doctor {
  height: 90vh;
}

@media (max-width: 1000px) {
  .contact-container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .contact-container {
    width: 60%;
  }
}

@media (max-width: 420px) {
  .contact-container {
    width: 70%;
  }
}
